.file{

    &__attachment{
      /*display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;*/

      border: 1px solid #ddd;
      height: auto;

      border: 1px solid #ddd;
      font-size: 12px;
      overflow: hidden;
      position: relative;
      text-align: center;

      &__title{
        //grid-area: 1 / 1 / 2 / 2;
        display: inline-block;
        line-height: 24px;
        padding: 10px;
        font-size: 12px;
        text-align: center;
      }

      &__browser{
       // grid-area: 1 / 2 / 2 / 3;
          opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        height:100%;
        width: 100%;
        background-color: red;


        }


      }
    }
